<div id="wholesite">
  <div class="container">
    <div class="hero">
      <div id="plsstop">
        <h1 class="name">
          no
          <span id="strike">hello</span>
        </h1>
      </div>
      <span class="subtitle">{{ _("header.subtitle") }}</span>
      <h2 class="lead">
        {{ _md("header.introduction") }}
      </h2>
    </div>
  </div>

  <div class="container nonos">
    <div class="sections sectionleft">
      <h2 class="section-title">{{ _("example.bad.title") }}</h2>
      <div class="list-card example one">
        <div class="slack">
          <img src="https://cdn.discordapp.com/avatars/1324874201156292651/312ed343383d8e866641d1524e1579c8.webp?size=1024&width=1024&height=1024" alt="Profile picture of Larsy">
          <span class="slackname">Larsy</span>
          <span class="slacktime">2:20 PM</span><br />
          <span class="slackmessage">oh - 3:30 mate</span>
        </div>
        <div class="slack">
          <img src="https://cdn.discordapp.com/avatars/1324874201156292651/312ed343383d8e866641d1524e1579c8.webp?size=1024&width=1024&height=1024" alt="Profile picture of Larsy">
          <span class="slackname">Larsy</span>
          <span class="slacktime">2:19 PM</span><br />
          <span class="slackmessage">...?</span>
        </div>
        <div class="slack">
          <img src="https://cdn.discordapp.com/avatars/1324874201156292651/312ed343383d8e866641d1524e1579c8.webp?size=1024&width=1024&height=1024" alt="Profile picture of Larsy">
          <span class="slackname">Larsy</span>
          <span class="slacktime">{{ _("example.bad.message2.timestamp") }}</span><br />
          <span class="slackmessage">{{ _("example.bad.message2.body") }}</span>
        </div>
        <div class="slack">
          <img src="https://cdn.discordapp.com/avatars/1324874201156292651/312ed343383d8e866641d1524e1579c8.webp?size=1024&width=1024&height=1024" alt="Profile picture of Larsy">
          <span class="slackname">Larsy</span>
          <span class="slacktime">{{ _("example.bad.reply2.timestamp") }}</span><br />
          <span class="slackmessage">{{ _("example.bad.reply2.body") }}</span>
        </div>
      </div>
    </div>
    <div class="sections sectionright">
      <div class="list-card">
        <div>
          {{ _mdp('example.bad.body', currentYear) }}
        </div>
      </div>
    </div>
  </div>
  <div class="container yepyep">
    <div class="sections sectionleft">
      <h2 class="section-title yepyep">{{ _("example.good.title") }}</h2>
      <div class="list-card example two">
        <div class="slack">
          <img src="https://cdn.discordapp.com/avatars/1324874201156292651/312ed343383d8e866641d1524e1579c8.webp?size=1024&width=1024&height=1024" alt="Profile picture of Larsy">
          <span class="slackname">Larsy</span>
          <span class="slacktime">2:20 PM</span><br />
          <span class="slackmessage">oh - 3:30 mate</span>
        </div>
        <div class="slack">
          <img src="https://cdn.discordapp.com/avatars/1057647565870469261/003ebc104817bf136a31e194323068b3.webp?size=1024&width=1024&height=1024" alt="Profile picture of Tim">
          <span class="slackname">Tim</span>
          <span class="slacktime">2:19 PM</span><br />
          <span class="slackmessage">...?</span>
        </div>
        <div class="slack">
          <img src="https://cdn.discordapp.com/avatars/1324874201156292651/312ed343383d8e866641d1524e1579c8.webp?size=1024&width=1024&height=1024" alt="Profile picture of Larsy">
          <span class="slackname">Larsy</span>
          <span class="slacktime">{{ _("example.good.message2.timestamp") }}</span><br />
          <span class="slackmessage">{{ _("example.good.message2.body") }}</span>
        </div>
      </div>
    </div>
    <div class="sections sectionright">
      <div class="list-card">
        <div>
          {{ _mdp('example.good.body') }}
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>
      {{ _md('footer.note') }}
    </p>
    <p>
      {{ _md('footer.warning') }}
    </p>
    <p>
    </p>

    <section class="other-languages">
      <p>
        {{ _('footer.languages') }}
      </p>

      <ul>
      {% for locale in locales %}
        <li
          ><a
            href="{%- relocalizePath locale.path, page.url -%}"
            class="lang-chooser"
            data-lang="{{ locale.path }}"
            hreflang="{{ locale.path }}"
          >{{ locale.name }}</a
        ></li>
      {% endfor %}
      </ul>
    </section>

    <script>
      const langChoosers = document.querySelectorAll('.lang-chooser');

      for (const langChooser of langChoosers) {
        const lang = langChooser.dataset.lang;

        langChooser.addEventListener('click', (evt) => {
          localStorage.setItem('lang', lang);
        });
      }
    </script>
  </footer>
</div>

<div id="preloadimg"></div>

<style type="text/css">
#preloadimg.now {
  background: url({%- imageURL "./src/img/why.gif", { format: "webp", animated: true } -%}) no-repeat -9999px -9999px;
}
</style>

<script>
whyyyyy = "url('{%- imageURL "./src/img/why.gif", { format: "webp", animated: true } -%}')"
</script>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="/js/nohello.js"></script>
<script src="/js/hello.js"></script>
